$primaryColor: #F0553F;
$secondaryColor: #F5A623;
$navigationColor: #00C1E0;
$isMobile: "only screen and (max-device-width: 767px)";

@import "partials/app";
@import "partials/header";
@import "partials/messaging";
@import "partials/common";
@import "partials/forms";
@import "partials/select-grid";
@import "partials/dateTime";
@import "partials/templates";
@import "partials/campaigns";
@import "partials/dashboard";
