body, html, * {
	margin: 0;
	padding: 0;
}

#app {
	font-family: arial;

	.hidden {
		display: none;
	}

	section {
		padding: 20px;
	}

	.button.action {
		cursor: pointer;
		background-color: $secondaryColor;
		color: #FFF;
		height: 30px;
		width: 175px;
		text-align: center;
		line-height: 30px;
		padding: 0 6px;
		border-radius: 3px;
		border: none;
		margin-right: 15px;
		display: inline-block;
		float: right;

	 	transition: background-color 0.3s ease;
		-webkit-transition: background-color 0.3s ease;
		-moz-transition: background-color 0.3s ease;
		-o-transition: background-color 0.3s ease;

		&:hover {
			background-color: darken($secondaryColor, 10%);
		}
	}

	.button.navigate {
		background-color: $navigationColor;
		&:hover {
			background-color: darken($navigationColor, 10%);
		}
	}

	.button.disabled {
		background-color: #BBB;
		cursor: inherit;
		pointer-events: none;
	}

	.banner {
		padding: 10px;
		margin: 15px 0;
		text-align: center;
		font-weight: bold;
		background-color: #F0F5DD;
		color: #8C8;

		&.alert {
			background-color: #FCC;
			color: #C88;
		}
	}
}