.campaign-buttons.form {
	>.button {
		width: 135px;
		line-height: 30px;
		margin-left: 20px;

		&.create {
			background-color: cornflowerblue;
			margin-bottom: 30px;
			margin-left: 5px;

			&:before {
				content: "+";
				top: 2px; // Hack
    		line-height: 1px; // Hack
				position: relative;
				font-size: 20px;
				margin-right: 5px;
			}

			&:hover {
				background-color: darken(cornflowerblue, 10%);
			}
		}
	}
}


section.campaign-wrapper {
	
	.form .button {
		width: 150px;
		display: inline-block;
		margin-right: 10%;

		&.delete {
			background-color: #E44;

			&:hover {
				background-color: #C22;
			}
		}
	}

	.wizard {
		.link {
			display: inline-block;
			margin-right: 15px;
		}

		.campaign-fields {

			.field-group {
				// Tighten up all that space!
				&.dates, &.conditions,
				&.overrides, &.position,
				&.user-feed-container {

					.group {
						position: relative;

						.close {
							top: 35px;
						}

						.select {
							margin-top: 0;
						}

						label {
							font-size: 12px;
						}

						input, select {
							font-size: 12px;
							height: 22px;
							line-height: 22px;
						}

						input.output {
							max-width: 125px;
						}

						.link {
							font-size: 10px;
						}
					}

					.override {
						input.output {
							max-width: inherit;
						}
					}

					.cond-group {
						
						button {
							margin-top: 5px;
						}
					}
				}
			}

			button {
				padding: 0 5px;
				background: cornflowerblue;
				color: #FFF;
				border: none;
				border-radius: 3px;
				font-size: 12px;
				height: 18px;
				line-height: 18px;
				transition: background 200ms;

				&:disabled {
					pointer-events: none;
					background: lightgray;
				}

				&:hover {
					background: lighten(cornflowerblue, 10%);
				}
			}
		}
	}

	.wizard-buttons {
		.button {
			margin-right: 30px;
			display: inline-block;
		}
	}
}

.wizard-options {
	li {

		&:hover {
			background-color: #f6f6f6;
		}

		&.selected {
			background-color: palegoldenrod;
		}

		>div {
			border-radius: 3px;
			box-sizing: border-box;
			margin-top: 5px;
    	background: #FCFCFC;
		}
	}
}

