.hide {
	display: none;
}

.link {
	color: $secondaryColor;
	cursor: pointer;

	&:hover {
		color: darken($secondaryColor, 10%);
		text-decoration: underline;
	}
}

li.template-tile, li.promo-tile {
	list-style-type: none;
	margin: 10px;
	cursor: pointer;
	color: #444;
	width: 30%;
	display: inline-block;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 8px;
  vertical-align: top;

	@media #{$isMobile} {
		display: inherit;
		width: auto;
	}

	.name, .type, .title, .desc {
		display: block;

		&.name, &.type {
			text-align: center;
			font-size: x-small;
		}

		&.title {
			font-weight: bold;
			margin-bottom: 10px;
		}

		&.desc {
			font-size: small;
			font-style: italic;
		}
	}
}
