.react-bs-table-container {

	.react-bs-table {
		margin: 5px;
	}

	table.table {

	  thead tr {
			background-color: cornflowerBlue;
			color: #FFF;
			
			input.form-control {
				padding: 6px 6px;
				font-size: 12px;
			}
		}

		tbody tr {
			cursor: pointer;


			&:hover  {
				background-color: #CCD;
			}

			td {
				white-space: inherit;
			}
		}
	}

	li.template-tile, li.promo-tile {
		cursor: -webkit-zoom-in;
		width: 100%;
		margin: 5px 0;

		.banner-image {
			min-height: 45px !important;

			.title, .desc {
				margin-bottom: 0;
				font-size: x-small;
			}
		}

		&:hover {
			border-color: $secondaryColor;
		}

		&.expanded {
			position: absolute;
			top: 20%;
	    width: 80%;
	    left: 10%;
	    z-index: 1000;
	    cursor: -webkit-zoom-out;

			&:hover {
				border-color: inherit;
			}
		}
	}

	td .bubble {
		font-size: xx-small;
		background-color: #555;
		color: #FFF;
		border-radius: 5px;
		padding: 3px;
	}

	.react-bs-container-body {
		height: 75vh !important;
		overflow-y: auto;
	}
}

.expired-toggle {
	color: #444;
	font-size: small;
	margin: 0;
	margin-left: 5px;
	cursor: pointer;

	input {
		margin-left: 10px !important;
	}
}

.smoke-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	cursor: pointer;

	&:before {
		content: '\2715';
		position: absolute;
		top: 10px;
		right: 15px;
		color: #555;
		font-size: x-large;
	}
}