.form {
	label, .button {
		margin-top: 30px;
		display: block;

		.req {
			color: red; // Required asterisk
		}
	}

	.button {
		cursor: pointer;
		background-color: $secondaryColor;
		color: #FFF;
		height: 30px;
		width: 120px;
		text-align: center;
		line-height: 30px;
		padding: 0 6px;
		border-radius: 3px;
		border: none;

	 	transition: background-color 0.3s ease;
		-webkit-transition: background-color 0.3s ease;
		-moz-transition: background-color 0.3s ease;
		-o-transition: background-color 0.3s ease;

		&:hover {
			background-color: darken($secondaryColor, 10%);
		}
	}

	.upload-input {
		margin-top: 5px;
		display: block;

		input[type=file] {
			cursor: pointer;
			width: 270px !important;
			display: inline-block;
		}

		button[type=submit] {
			cursor: pointer;
			width: 90px;
			height: 30px;
			display: inline-block;

			&[disabled] {
				cursor: inherit;
				color: #999;
			}
		}
	}

	input:not([type=checkbox]):not([type=radio]), textarea {
	  width: 360px;
	  color: #777;

	  @media #{$isMobile} {
	  	width: 100%;
	  }

		&[type=text],
		&[type=number] {
			height: 25px;
	    border: none;
	    border-bottom: 1px solid #DDD;
	    font-size: 15px;
		}

		&[type=date], &[type=number] {
			width: 180px;
		}
	}

	textarea {
    border: 1px solid #DDD;
    font-size: 15px;
	}

	.select {
		display: inline-block;
		position: relative;
		margin-top: 15px;

	  &:not(.multiple):after {
	  	content: '\25BF';
	  	position: absolute;
	  	top: 3px;
	  	right: 4px;
	  	height: 25px;
	  	color: #444;
	  	pointer-events: none;
	  }

	  option.disabled {
	  	background-color: red;
	  }
	}

	.instruction {
		font-size: x-small;
		text-align: center;
		font-style: italic;
	}

	.bool-field {
		display: block;

		>label {
			display: inline-block;
			margin-right: 15px;
		}

		input {
			margin-right: 10px;
		}
	}

	select {
		height: 26px;
		font-size: 15px;
		width: 200px;
	  -webkit-appearance: none;
	  border-color: #BBB;
	  border-radius: 3px;
	  padding: 0 18px 0 10px;
	  position: relative;
	  background-color: #FFF;

		&.multiple {
			height: 99px;
		}
	}

	.form {
		select {
			min-width: 300px;
		}
	}

	label {
		&.required {
			&::after {
				content: '*';
				color: red;
			}
		}
	}

	.field-group {
		.labeled-input {
			display: inline-block;
			margin-right: 15px;
		}

		.group {
			padding: 10px;
			background-color: #EEF;
			border-radius: 3px;
			margin-bottom: 10px;
			position: relative;

			label {
				margin-top: 10px;
			}

			.close {
				position: absolute;
				right: 5px;
				top: 3px;
				color: #E22;
				cursor: pointer;

				&:hover {
					color: #C00;
				}
			}
		}
	}

	.rdt { // React DateTime
		
	}

	.button.search {
		display: inline-block;
	}

	.clear-search {
		text-decoration: underline;
		cursor: pointer;
		color: cornflowerblue;
		margin-left: 15px;
		display: inline-block;
	}
}