.select-grid {
	border: 1px solid #bbb;
	background: white;
	border-radius: 3px;
	padding: 6px;

	.select-grid-option {
		font-size: 12px;
		border: 1px solid #f1f1f1;
		margin: 0 4px;
		padding: 0 8px;
		width: 190px;
		height: 22px;
		line-height: 22px;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		user-select: none;
		cursor: pointer;
		transition: border-color 200ms;
		
		&:hover {
			border-color: #F5A623;
		}

		&.selected {
			background: #F5A623;
			color: white;
		}		
	}	
}
