.sections-header {
	padding-bottom: 16px;
	border-bottom: 1px solid #ddd;
	// margin-bottom: 20px;
}

.sections {

}


section.template-wrapper {
	
	.form .button {
		width: 150px;
		display: inline-block;
		margin-right: 10%;

		&.delete {
			background-color: #E44;

			&:hover {
				background-color: #C22;
			}
		}
	}

	.preview {
		width: 100px;
		display: block;

		img {
			width: 100%;
			cursor: pointer;
		}
	}

	.form, .instructions {
		display: table-cell;
		vertical-align: top;
		width: 48%;
		padding-right: 10px;
	}

	.instructions {
		.block-title {
			font-size: 20px;
			font-weight: bold;
			margin-top: 32px;
		}

		ul {
			margin-left: 15px;
		}
	}

	.box-wrapper {
		border: 1px solid #ddd;
		padding: 5px 15px;
		overflow: scroll;
		height: 75vh;

		&.short {
			height: 25vh;
		}
	}

	.action-state-instructions {
		padding: 20px 0 !important;

		& > div:not(:first-child) {
			margin-top: 32px;
		}

		.title {
			font-weight: bold;
	    background: #f1f1f1;
	    padding: 4px 8px;
	    margin-bottom: 5px;
		}

		.description {
			color: #888;
			margin-left: 8px;
		}

		.params {
			margin-top: 5px;
			margin-left: 8px;
		}
	}
}
